
$--prussian-blue: #000137;
$--navy: #02055a;
$--dark-blue: #02198b;
$--cerulean-blue: #253da1;
$--pale-conflower-blue: #b0dbf1;

$--title: 40px;
$--subtitle: 30px;
$--lg: 21px;
$--md: 18px;
$--sm: 16px;
$--p: 14px;

$--radius-border: 8px;

