
$--black: #010101;
$--nero: #1c1c1c;
$--charcoat: #4a4a4a;
$--dim-gray: #6d6d6d;
$--gainsborg: #e6e6e6;

$--title: 40px;
$--subtitle: 30px;
$--lg: 21px;
$--md: 18px;
$--sm: 16px;
$--p: 14px;

$--radius-border: 8px;

