@import "vars";

.card{
    border: 1px solid $--pale-conflower-blue;
    border-radius: $--radius-border;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: rgba($color: $--navy, $alpha: .3);
}
.gif{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    width: 100%;
    height: 249px;
}
.keywords{
    grid-row: 2;
    color: #fff;
    text-align: center;
}
.keywords span{
    color: $--pale-conflower-blue;
}

